<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini-Chat · {% block title %}Template{% endblock title %}</title>
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock stylesheets %}
      {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock javascripts %}
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="{{ app.user ? 'cover-container-lg' : 'cover-container' }} d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
      {% if app.user %}
        {% include 'partials/_navbar_auth.html.twig' %}
      {% else %}
        {% include 'partials/_navbar.html.twig' %}
      {% endif %}
      </header>
      <main class="px-3">
        {% block content %}
        {% endblock content %}
      </main>
      {% include 'partials/_footer.html.twig' %}
    </div>
  </body>
</html>

