{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock title %}

{% block content %}
        <h1>Bienvenue</h1>
        <p class="lead">Ceci est une petite application créée sur la base d'une template <a href="https://getbootstrap.com/docs/5.3/examples/cover/" class="text-white">Bootstrap</a>. Commencez par vous créer un compte puis amusez-vous!</p>
{% endblock content %}
